* {
    box-sizing: border-box;
}

html, body, #app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

#app {
    padding: 20px;
}

.xterm-viewport {
    width: 100%;
    max-width: 100%;
    overflow: hidden!important;
}

.terminal.xterm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.xterm-screen {
    width: 100%;
    margin: auto;
}